@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    background-color: antiquewhite;
    color: black;
    max-width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  